*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 60%;
}

body {
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f5f7;
}

.color-white {
  color: white;
}

.color-orangered {
  color: #f61602;
}

.pointer {
  cursor: pointer;
}

/* -------------- NABVAR ---------------*/

.nav-container {
  position: relative;
}

.nav-static {
  transform: translateY(-5rem);
  z-index: 999;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 5;
  height: 5rem !important;
}

.lists {
  margin-top: -5rem;
}

.sticky-logo {
  object-fit: cover;
  height: 5rem;
}

.container-fluid {
  background-color: #f4f5f7;
}

.color-gray {
  color: gray;
}

.bg-orangered {
  background-color: #f61602;
  height: 10rem;
}

.right-nav-item {
  margin: 1rem 2rem;
  font-size: 1.5rem;
}

.location {
  font-weight: 600;
}

.w-logo {
  object-fit: cover;
  width: 27vw;
  height: 10vh;
}

.nav-item {
  margin: auto 10px;
}

.nav-btn {
  height: 3rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 900;
  padding: auto 1rem auto 1rem;
  border: none;
}

.nav-icon {
  display: none;
}

.nav-icon-bars {
  display: inline;
  font-size: 3rem;
  fill: pink;
}

.middle-nav {
  width: 80%;
  height: 4.5rem;
  font-weight: 600;
  color: black;
}

.sections {
  font-size: 1.4vw;
  border-right: 1px solid rgba(128, 128, 128, 0.301);
  height: 2.8rem;
}

.nav-search {
  border: none;
  width: 7.5rem;
}

.bottom-nav {
  font-size: 150%;
  font-weight: 600;
  height: 3rem;
}

/* --------------- MAIN ---------------- */

.capitalize {
  text-transform: capitalize;
  font-weight: 1000;
  font-size: 2.2rem;
  margin: 1rem auto;
}

.undeline-orangered {
  color: black;
}

.middle-grid-h2 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.middle-a:hover {
  text-decoration: none;
  color: inherit;
}

.undeline-orangered:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: #f61602;
  text-decoration-style: solid;
}

.hover-or:hover {
  color: #f61602;
  text-decoration: none;
}

.grid {
  margin-top: 0.3rem;
}

.news-img {
  width: 100%;
  cursor: pointer;
}

.feature {
  width: 100%;
}

.h2-main {
  font-weight: 900;
  font-size: 1.5rem;
  margin: 1.5rem auto 1rem auto;
}

.news-p {
  font-size: 1.4rem;
  color: rgb(29, 29, 29);
  margin-bottom: 2rem;
  font-weight: 500;
}

.other-news {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid rgba(200, 200, 200, 1);
}

.other-news-a {
  color: black;
  text-transform: capitalize;
  font-weight: 900;
}

.other-h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

.magazine-cont {
  margin-top: 5rem;
}

.feature-bg {
  height: 23rem;
  background-size: cover;
  background-position: center;
}

.tag {
  font-size: 1.7rem;
  transform: translateY(-3.5rem);
  width: 8rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.other-tag {
  transform: unset;
}

.news-bg-1 {
  background-image: url(../img/news-bg-1.png);
}

.news-bg-2 {
  background-image: url(../img/news-bg-2.png);
}

.news-bg-3 {
  background-image: url(../img/news-bg-3.jpg);
}

.news-bg-4 {
  background-image: url(../img/news-bg-4.png);
  height: 25rem;
}

.more-stories {
  padding-top: 1rem;
  border-top: 1px solid rgb(200, 200, 200);
}

.uppercase {
  text-transform: uppercase;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.the-debate {
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  width: 100%;
  height: 24rem;
}

.debate-sect {
  width: 100%;
  height: auto;
}

.debate {
  height: 8rem;
  margin: 1rem auto;
  cursor: pointer;
}

.debate-img {
  height: 6.5rem;
}

.versus {
  height: 3px;
  margin: 2rem auto;
}

.vs {
  top: -1.4rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}

.opinion {
  height: auto;
}

.third-author {
  font-size: 1rem;
}

.sticky3-item {
  width: 100%;
}

.bg-container {
  width: 100%;
  height: 23.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-third-1 {
  background-image: url(../img/bg-third-1.jpg);
}

.bg-third-2 {
  background-image: url(../img/bg-third-2.jpg);
}

.bg-third-3 {
  background-image: url(../img/bg-third-3.png);
}

.bg-third-4 {
  background-image: url(../img/bg-third-4.jpg);
}

.third-grid-h2 {
  font-size: 2rem;
}

.third-grid-p {
  font-size: 1.5rem;
}

.form-container {
  border: 1px solid green;
  width: auto;
}

.icon-n {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.form-text {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.input-text {
  height: 3.5rem;
  font-size: 1.5rem;
}

.submit-btn {
  background-color: #f61602;
  height: 3.5rem;
  font-size: 1.5rem;
  color: #f4f5f7;
  z-index: 1;
  border-radius: 0.6rem;
}

.in-the {
  font-size: 2rem;
}

.cover-a {
  height: 2.5rem;
  font-size: rem;
}

.cover-a:hover {
  color: #f4f5f7;
  text-decoration: none;
}

.cover-h {
  font-size: 1.5rem;
}

.magazine {
  height: auto;
}

.mag-img {
  object-fit: cover;
  width: 100%;
  height: 20vw;
}

.mag-title {
  line-height: 2rem;
}

.us {
  font-size: 2.5rem;
  font-weight: 1000;
}

.us-little {
  width: 9rem;
}

.division {
  height: 1px;
  background-color: #ddd;
}

.sections-bot {
  margin-bottom: -1rem;
}

.sections-col {
  margin-top: -1.5rem;
}

.subscribe-section {
  height: auto;
}

.subscribe-main-section {
  height: 95%;
  padding: 3rem;
  width: 100%;
}

.subscribe-container {
  background-color: #f4f5f6;
  height: 20vw;
  padding: 3rem;
  width: 100%;
}

.subscribe-img {
  width: 25rem;
  height: 100%;
}

.subscribe-img-2 {
  transform: translate(-10rem, 1.2rem);
}

.subscribe-h2 {
  font-weight: 1000;
  font-size: 2vw;
  line-height: 2vw;
  width: 100%;
}

.subscribe-p {
  font-size: 1.5rem;
}

.subscribe-bot-btn {
  height: auto;
  font-size: 1.8rem;
}

.newsletter-container {
  height: 20vw;
}

.newsletter-img-1 {
  object-fit: cover;
  width: 20rem;
  height: 20vw;
}

.newsletter-text {
  width: 10rem;
}

.newsletter-input {
  height: 3rem;
  font-size: 1.5rem;
  width: 10vw;
}

.newsletter-btn {
  font-size: 1.4rem;
  width: 100%;
}

.footer-log {
  width: 25rem;
}

.footer-ul-1 {
  font-size: 1.5rem;
  list-style: none;
}

.footer-a:hover {
  text-decoration: none;
  color: black;
}

.footer-icon {
  font-size: 2.8rem;
  color: #777;
  margin: auto 0.5rem;
}

.my-turn-sm {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .sticky-navbar {
    z-index: 999;
    justify-content: start;
    align-items: flex-start;
    display: flex;
    height: 5.5rem;
    position: fixed;
    top: 0;
  }

  .sticky-logo {
    margin-top: 0;
    object-fit: cover;
    height: 5.5rem;
  }

  .div-nav {
    display: none;
  }

  .main-p {
    top: 5rem;
    position: relative;
  }

  .newsletter-main {
    height: 30rem;
  }

  .newsletter-img-1 {
    height: 25rem;
  }

  .newsletter-container {
    height: auto;
  }

  .div-greener {
    width: 40rem;
  }
}

@media only screen and (max-width: 769px) {
  .bg-container {
    height: 45vh;
  }

  .mag-img {
    height: auto;
  }

  .div-greener {
    width: 100%;
  }
}